body{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;
    background-image: url(https://miro.medium.com/max/1400/1*vJjJ3Mdok6Rvxx85IIRqBQ.gif);
    background-size: cover;
}   
.nav a{
    float:left;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.nav a:hover{
    background-color: rgb(42, 42, 254);
    color: rgb(0, 149, 255);
}
.nav{
    margin-bottom: 100px;
}
#header1{
    text-align: center;
    font-size: larger;
    color: white;
    text-shadow: 10px 10px 10px lightblue;
}
.text-box{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
h2{
    text-shadow: 10px 10px 10px lightblue;

}
.education-box{
    margin-right: 10px;
}
.professional{
    margin-left: 10px;
}
.comma{
    margin: 1px;
}
p , ul{
    background-color: grey;
    border-radius: 10px;
}