body{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;
    background-image: url(https://wallpaperaccess.com/full/2842066.jpg);
    font-family: Arial, sans-serif;
}   
.nav a{
    float:left;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.nav a:hover{
    background-color:lightgrey;
    color: darkgray;
}
.nav{
    margin-bottom: 100px;
}
#header1{
    text-align: center;
    font-size: larger;
    color: white;
    text-shadow: 10px 10px 10px grey;
}
.text-box{
    display: flex;
    flex-direction: row;
    margin: 50px;
    
}
h2{

    color: grey;

}
.education-box{
    margin-right: 10px;
}
.professional{
    margin-left: 10px;
}
.comma{
    margin: 1px;
}
p , ul{
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    
}
h1{
    color: grey;
}
ul{
    padding: 20px;
}
@media screen and (max-width: 768px){
    .text-box{
        flex-direction: column;
    }
}