body{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;
    background-image: url("https://i.gifer.com/TphJ.gif") ;
    background-size: cover;
}
.nav a{
    float:left;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav a:hover{
    background-color: rgb(42, 42, 254);
    color: rgb(0, 149, 255);
}
.nav{
    margin-bottom: 100px;
}

#header1{
    text-align: center;
    font-size: larger;
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 10px lightblue;
    border-radius: 10px;
    
}
img{
    height: 200px;
    width: 200px;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:  25px;
    margin-right: 25px;

}
#projects-div{
    display:flex;
}
p{
    background-color: grey;
    border-radius: 10px;
}
h1{
    background-color: gray;
    border-radius: 10px;
}