body{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;
    background-image: url(https://wallpaperaccess.com/full/2842066.jpg) ;
   
}
.nav a{
    float:left;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav a:hover{
    background-color:lightgrey;
    color: darkgray;
}
.nav{
    margin-bottom: 100px;
}

#header1{
    text-align: center;
    font-size: larger;
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    
}
img{
    height: 200px;
    width: 200px;
    border: 3px solid grey;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:  25px;
    margin-right: 25px;
    
}
#projects-div{
    display:flex;
}
p{
    background-color: grey;
    border-radius: 10px;
}
h1{
    color: grey;
    
}
h2{
    color: grey;
}
p{
    padding: 10px;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 768px){
    #projects-div{
        flex-direction: column;
    }
}